@page "{handler?}"
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<br />
<div>
    <ejs-pdfviewer id="pdfviewer" style="height: 640px; width: 100%" serviceUrl="/Index" documentLoad="documentLoaded" documentPath="Data/FormDesigner.pdf">
    </ejs-pdfviewer>
</div>


<style>
    #pdfviewer {
        display: block;
    }
</style>

<script type="text/javascript">
    function documentLoaded(args) {
        var pdfViewer = document.getElementById('pdfviewer').ej2_instances[0];
        pdfViewer.signatureFieldSettings.signatureDialogSettings = {
            displayMode: 1,
            hideTypeSelection: true, // hides the typed signature tab
            hideUploadSignature: true, // hides the upload signature tab
            hideSaveSignature: true // hides the save signature option
        };
        pdfViewer.initialFieldSettings.initialDialogSettings = {
            displayMode: 1,
            hideTypeSelection: true, // hides the typed initial tab
            hideUploadSignature: true, // hides the upload initial option
            hideSaveSignature: true // hides the save initial option
        };
    };
</script>