@page "{handler?}"
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    double initialRenderPages = 10;
}

<div class="text-center">
    <!-- To configure the server-backed PDF Viewer, include the "serviceUrl='/Index'" attribute -->
    <ejs-pdfviewer id="pdfviewer" style="height:600px" serviceUrl="/Index" initialRenderPages="@initialRenderPages" documentPath="https://cdn.syncfusion.com/content/pdf/pdf-succinctly.pdf">
    </ejs-pdfviewer>
</div>