@page "{handler?}"
@using ShowHideAnnotations.Pages
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <button id="hideBtn">Hide Annotations</button>
    <button id="unhideBtn">Show Annotations</button>
    <ejs-pdfviewer id="pdfviewer" style="height:600px" resourceUrl="https://cdn.syncfusion.com/ej2/30.1.37/dist/ej2-pdfviewer-lib" documentPath="https://cdn.syncfusion.com/content/pdf/pdf-succinctly.pdf">
    </ejs-pdfviewer>
</div>

<script type="text/javascript">
    var exportObject = null;

    document.addEventListener('DOMContentLoaded', function() {
        var pdfviewer = document.getElementById('pdfviewer').ej2_instances[0];

        function HideAnnotations() {
            pdfviewer.exportAnnotationsAsObject().then(function(value) {
                exportObject = value;
                pdfviewer.deleteAnnotations();
            });
        }

        function UnHideAnnotations() {
            if (exportObject) {
                pdfviewer.importAnnotation(JSON.parse(exportObject));
            }
        }

        document.getElementById('hideBtn').addEventListener('click', HideAnnotations);
        document.getElementById('unhideBtn').addEventListener('click', UnHideAnnotations);
    });
</script>