@page "{handler?}"
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div>
    <ejs-pdfviewer id="pdfviewer" style="height:600px" documentPath="https://localhost:44311/PDF_Succinctly.pdf" resourceUrl="https://localhost:44311/ej2-pdfviewer-lib">
    </ejs-pdfviewer>
</div>

