@page "{handler?}"
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div class="text-center">
    <ejs-pdfviewer id="pdfviewer" style="height:600px"
                   documentPath="https://cdn.syncfusion.com/content/pdf/pdf-succinctly.pdf"
                   resourceUrl="https://cdn.syncfusion.com/ej2/27.2.2/dist/ej2-pdfviewer-lib"
                   annotationAdd="onAnnotationAdd">
    </ejs-pdfviewer>
</div>

<script type="text/javascript">
    // Handle annotation add event
    function onAnnotationAdd(args) {
        console.log(args);  // Log the event arguments when an annotation is added
    }
</script>
