@page "{handler?}"
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<button type="button" onclick="findTextBounds()">FindTextBounds</button>

<div class="text-center">
    <ejs-pdfviewer id="pdfviewer" style="height:600px" documentPath="https://cdn.syncfusion.com/content/pdf/pdf-succinctly.pdf" resourceUrl="https://cdn.syncfusion.com/ej2/27.1.48/dist/ej2-pdfviewer-lib">
    </ejs-pdfviewer>
</div>

<script type="text/javascript">
    function findTextBounds() {
        var pdfViewer = document.getElementById('pdfviewer').ej2_instances[0];
        // Find and get the bounds of a text
        console.log(pdfViewer.textSearch.findText('adobe', false));
        // Find and get the bounds of a text on the desired page
        console.log(pdfViewer.textSearch.findText('adobe', false, 7));
        // Find and get the bounds of the list of text
        console.log(pdfViewer.textSearch.findText(['adobe', 'pdf'], false));
        // Find and get the bounds of the list of text on desired page
        console.log(pdfViewer.textSearch.findText(['adobe', 'pdf'], false, 7));
    }
</script>
