@page "{handler?}"
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<br />
<br />
<div>
    <ejs-pdfviewer id="pdfviewer" style="height: 620px; width: 100%" serviceUrl="/Index" documentLoad="onload" documentPath="Data/FormDesigner.pdf">
    </ejs-pdfviewer>
</div>


<style>
    #pdfviewer {
        display: block;
    }
</style>

<script>
    window.onload = function () {
        var pdfviewer = document.getElementById('pdfviewer').ej2_instances[0];
    pdfviewer.signatureFieldSettings.signatureIndicatorSettings = {
            opacity: 1,
            backgroundColor: 'cyan',
            width: 50,
            height: 10,
            fontSize: 15,
            text: "Signature Indicator",
            color: 'blue'
        };
        pdfviewer.initialFieldSettings.initialIndicatorSettings = {
            opacity: 1,
            backgroundColor: 'yellow',
            width: 19,
            height: 5,
            fontSize: 5,
            text: "Initial Indicator",
            color: 'blue'
        };
    }
</script>
