@page "{handler?}"
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    double MaxZoom = 10;
    double MinZoom = 5;
}


<div class="text-center">
    <ejs-pdfviewer id="pdfviewer" style="height:600px" maxZoom="@MaxZoom" minZoom="@MinZoom" documentPath="https://cdn.syncfusion.com/content/pdf/pdf-succinctly.pdf">
    </ejs-pdfviewer>
</div>
